<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>carmen 中台</title>
	</head>
	<body>
		<h1>Beautiful is better than ugly.</h1>
		<h2>Explicit is better than implicit.</h2>
		<h3>Simple is better than complex.</h3>
		<h4>Complex is better than complicated.</h4>
		<h5>Flat is better than nested.</h5>
		<h6>Sparse is better than dense.</h6>
		<p>Readability counts.
		Special cases aren't special enough to break the rules.
		Although practicality beats purity.
		Errors should never pass silently.
		Unless explicitly silenced.</p>
		---------------------------------------
		<br>
		---------------------------------------
		<br>
		In the face of ambiguity, refuse the temptation to guess.
		<img src="" >
		<pre>

		</pre>There should be one-- and preferably only one --obvious way to do it.
		Although that way may not <small>be obvious</small> at first unless you're Dutch.
		Now is better than never.
		<hr >
		<mark> never is often better than *right* now.</mark>
		<b>If the implementation is hard to explain, <i>it's a bad idea.</i></b>
		If the implementation is easy to explain, it <ins>may be a good idea.</ins>
		<strong>Namespaces are one honking great idea -- let's do more of those!</strong>
		<ul type="A">
			{% for news in newsLists %}
			<li>{{ news.title }} {{ news.intro }}</li>
			{% endfor %}
		</ul>
	</body>
</html>
