<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>schedule-for-lixf6</title>
	</head>
	<body>
		<table border="15" cellspacing="1" bordercolor="#f0f">
			<caption>课程表</caption>
			<tr>
				<th colspan="2">时间</th>
				<th>星期一</th>
				<th>星期二</th>
				<th>星期三</th>
				<th>星期四</th>
				<th>星期五</th>
			</tr>
			<tr>
				<td rowspan="4">上午</td>
				<td>第一节课 8:00~8:40</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
			<tr>
				
				<td>第二节课 8:45~9:25</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
			<tr>
				
				<td>第三节课 9:55~10:35</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
			<tr>
				
				<td>第四节课 10:40~11:20</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
			
			<tr>
				<td rowspan="4">下午</td>
				<td>第五节课 14:00~14:40</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
			<tr>
				
				<td>第六节课 14:45~15:25</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
			<tr>
				
				<td>第七节课 15:40~16:20</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
			<tr>
				
				<td>第四节课 16:25~17:05</td>
				<td>沧海月明珠有泪</td>
				<td>十年生死两茫茫</td>
				<td>君不见</td>
				<td>AD钙</td>
				<td>我欲乘风归去</td>
			</tr>
		</table>
	</body>
</html>
