{% extends 'blog_base.html' %}
{% block title %}blog{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-sm-8" style="margin-top: 40px">
      <!-- <h2>标题</h2>
      <h5>副标题</h5>
      <div class="fakeimg">图像</div> -->
	  {% for blog_post in blog_posts %}
		  <h4>{{ blog_post.title }}</h4>
		  <h3>{{ blog_post.body }}</h3>
			<h4>
			<a href="#" class="text-success"><strong>{{ blog_post.category }}</strong></a>
			</h4>
			<h4 class="text-right"><small>#{{ blog_post.timestamp }}</small></h4>
		  <hr >
	  {% endfor %}
     <!-- <h2>标题</h2>
      <h5>副标题</h5>
      <div class="fakeimg">图像</div> -->
<!--      <p>一些文本..</p>-->
<!--      <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>-->
<!--	  <p>作者 时间</p>-->
<!--	  <hr >-->

<!--	  <p>一些文本..</p>-->
<!--	  <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>-->
<!--	  <p>作者 时间</p>-->
<!--	  &lt;!&ndash; <br> &ndash;&gt;-->
<!--	  <hr >-->
	</div>

	<div class="col-md-4" >
	  <h2>之于我</h2>
	  <h5>似水流年:</h5>
      <div class="fakeimg">
          <img src="{{ url_for('static', filename='img/sky_fighting.jpg') }}" width="400" height="200"/>
      </div>
<!--	  <hr class="hidden-sm hidden-md hidden-lg">-->
	</div>
<!--	<hr>-->
<!--	<h2>之于你</h2>-->
	<div class="col-md-4" style="margin-top: 40px">
		<div class="panel panel-default">
			<div class="panel-heading">链接</div>
			<ul class="list-group">
				{% for link in links %}
					<li class="list-group-item">
						<a href="{{ link.link_url }}">
						{{ link.link_name }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

  </div>
{% endblock %}