{% extends 'blog_base.html' %}
{% block title %}blog{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="row">

    <div class="col-sm-8">
      <!-- <h2>标题</h2>
      <h5>副标题</h5>
      <div class="fakeimg">图像</div> -->
	  {% for blog_post in blog_posts %}
		  <p>{{ blog_post.title }}</p>
		  <p>{{ blog_post.body }}</p>
			<h5>
			<a href="#" class="text-success"><strong>{{ blog_post.category }}</strong></a>
			<small class="text-muted sub-title">#{{ blog_post.timestamp }}</small>
			</h5>
		  <hr >
	  {% endfor %}
     <!-- <h2>标题</h2>
      <h5>副标题</h5>
      <div class="fakeimg">图像</div> -->
<!--      <p>一些文本..</p>-->
<!--      <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>-->
<!--	  <p>作者 时间</p>-->
<!--	  <hr >-->

<!--	  <p>一些文本..</p>-->
<!--	  <p>菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！菜鸟教程，学的不仅是技术，更是梦想！！！</p>-->
<!--	  <p>作者 时间</p>-->
<!--	  &lt;!&ndash; <br> &ndash;&gt;-->
<!--	  <hr >-->
	</div>

	<div class="col-sm-4">
	  <h2>之于我</h2>
	  <h5>似水流年:</h5>
      <div class="fakeimg">
          <img src="{{ url_for('static', filename='img/sky_fighting.jpg') }}" width="400" height="200"/>
      </div>
<!--	  <p>关于我的介绍..</p>-->

	  <h3>链接</h3>
	  <p>幽灵之洞：</p>

	  <ul class="nav nav-pills nav-stacked">
<!--	    <li class="active"><a href="#">链接 1</a></li>-->
<!--	    <li><a href="#">链接 2</a></li>-->
<!--	    <li><a href="#">链接 3</a></li>-->
<!--		<li><a href="#">链接 2</a></li>-->
		  {% for link in links %}
		  	<li><a href="{{ link.link_url }}">
				{{ link.link_name }}
			</a></li>
		  {% endfor %}

	  </ul>
	  <hr class="hidden-sm hidden-md hidden-lg">
	</div>
  </div>
{% endblock %}