{% extends 'blog_base.html' %}
{% block title %}New Post{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1>Edit Post</h1>
<div class="row">
		<div class="col-sm-10">
		<form class="form-horizontal" role="form" action="{{ url_for("admin_app.editPost", post_id=post.id) }}" method="post">
		  <div class="form-group">
			<label for="title" class="col-sm-2 control-label">文章标题</label>
			<div class="col-sm-10">
			  <input type="text" class="form-control" id="title" placeholder="请输入标题" value="{{ post.title }}" name="title">
			</div>
		  </div>

		  <div class="form-group">
			<label for="category" class="col-sm-2 control-label">文章目录</label>
			<div class="col-sm-10">
			  	<select class="form-control" value="{{ post.category }}" name="category_name">
					{% for category in categorys %}
				  		<option>{{ category.category_name }}</option>
					{% endfor %}
				</select>
<!--				<input type="text" class="form-control" id="category" placeholder="请输入" value="{{ post.category }}" name="category">-->
			</div>
		  </div>

          <div class="form-group">
			<label for="body" class="col-sm-2 control-label">文章内容</label>
			<div class="col-sm-10">
                <textarea class="form-control" rows="3" name="body">{{ post.body }}</textarea>
			</div>
		  </div>

		  <div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-default">提交</button>
			</div>
		  </div>
		</form>
		</div>
	</div>
{% endblock %}