{% extends 'blog_base.html' %}
{% block title %}Manage Link{% endblock %}

{% block styles %}
{% endblock %}

{% block content %}
<h1>Manage Link</h1>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped">
<!--          <caption>条纹表格布局</caption>-->

          <thead>
            <tr>
                <th>序号</th>
                <th>链接标题</th>
                <th>链接名称</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
          </thead>
          <tbody>
            {% for link in links %}
            <tr>
                <td>{{ link.link_id}}</td>
                <td>{{ link.link_name}}</td>
                <td>{{ link.link_url}}</td>
                <td>{{ link.link_timestamp }}</td>
                <td>
                    <a href="{{ url_for("admin_app.editLink", link_id=link.link_id) }}"><button type="button">修改</button></a>
                    <a href="{{ url_for("admin_app.deleteLink", link_id=link.link_id) }}"><button type="button">删除</button></a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
</div>

<table>
	<tr>
	<td>共{{ total }}条 总页数：{{ pages }}</td>
<!--		<td></td>-->
	<td >
		<ul class="pagination" style="margin-left: 50px">
			{% if prev_num != None %}
				<li><a href="?page={{ prev_num }}">&laquo;</a></li>
			{% else %}
				<li><a href="#">&laquo;</a></li>
			{% endif %}

			{% for page in pageList %}

				{% if page != None %}
					<li><a href="?page={{ page }}">{{ page }}</a></li>
				{% else %}
					<li><a href="#">...</a></li>
				{% endif %}
			{% endfor %}

			{% if next_num != None %}
				<li><a href="?page={{ next_num }}">&raquo;</a></li>
			{% else %}
				<li><a href="#">&raquo;</a></li>
			{% endif %}

		</ul>
	</td>
	</tr>

</table>

{% endblock %}